<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{{path("/resources/css/main-style.css")}}" rel="stylesheet">
    <script type="text/javascript" src="{{path("/resources/js/jquery-3.1.1.min.js")}}"></script>
    <title>
        Hi
    </title>
  </head>
  <body>
    
      <div class="canvas">
        {% block content %}
        {% endblock %}    
      </div>
      <div class="footer">
          Author: Artem
      </div>
  </body>
</html>